target/
/target/**
*.class

**/.settings/org.eclipse.jdt.core.prefs


.vscode/
bundles/org.eclipse.papyrus.web.rcp.api/.settings/org.eclipse.m2e.core.prefs
bundles/org.eclipse.papyrus.web.service.codegen/.settings/org.eclipse.m2e.core.prefs
bundles/org.eclipse.papyrus.web.service.codegen/bin/org/eclipse/papyrus/web/service/codegen/CodegenService.class
bundles/org.eclipse.papyrus.web.service.codegen/bin/org/eclipse/papyrus/web/service/codegen/SelectionGenerateCodeHandler.class
bundles/org.eclipse.papyrus.web.service.codegen/bin/org/eclipse/papyrus/web/service/codegen/WebDavUtility.class
bundles/org.eclipse.papyrus.web.service.codegen/bin/org/eclipse/papyrus/web/service/codegen/ZipUtility.class
papyruswebsvc/
workspaceCodeGen/

*.kdev4
