spring.application.name=papyrus-web-medsecurance-iomt-device

server.port={{serverPort}}

logging.level.root=info
logging.level.web=debug
logging.level.papyrus.web.medsecurance.iomt.device=trace

mqtt.automaticReconnect=true 
mqtt.cleanSession=true
mqtt.connectionTimeout=10
mqtt.clientId=${COMPUTERNAME}-MQTT
mqtt.hostname=127.0.0.1
mqtt.port=1883

{{#accessPermission}}
accessPermission={{accessPermission}}
{{/accessPermission}}