package papyrus.web.medsecurance.iomt.device.dto;

import java.util.ArrayList;
import java.util.List;
import java.util.concurrent.atomic.AtomicBoolean;

import papyrus.web.medsecurance.iomt.device.action.IAction;

public abstract class AbstractSensor implements Runnable {
	private Thread worker;
    private final AtomicBoolean running = new AtomicBoolean(false);
    
	private String sensorId;
	private List<IAction> actions = new ArrayList<IAction>();

	public abstract String getDeviceId();
	public abstract long getPeriod();
	
	public String getSensorId() {
		return sensorId;
	}

	public void setSensorId(String sensorId) {
		this.sensorId = sensorId;
	}
	
	public List<IAction> getActions() {
		return actions;
	}

	public void start() {
        worker = new Thread(this);
        worker.start();
    }
	
	public void stop() {
        running.set(false);
    }

	@Override
	public void run() {
		running.set(true);
        while (running.get()) {
            try { 
                Thread.sleep(getPeriod()); 
            } catch (InterruptedException ie){ 
                Thread.currentThread().interrupt();
            }
            for (IAction action : getActions()) {
    			if (action.executeAction(getDeviceId() + "/" + getSensorId(), null) == false) {
    				break;
    			}
    		}
         } 
		
	}
}
