package papyrus.web.medsecurance.iomt.device;

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class PapyrusWebMedsecuranceIomtDeviceApplication {

	public static void main(String[] args) {
		SpringApplication.run(PapyrusWebMedsecuranceIomtDeviceApplication.class, args);
	}

}
