package papyrus.web.medsecurance.gateway;

import org.junit.jupiter.api.Test;
import org.springframework.boot.test.context.SpringBootTest;

@SpringBootTest
class PapyrusWebMedsecuranceGatewayApplicationTests {

	@Test
	void contextLoads() {
	}

}
