package papyrus.web.medsecurance.iomt.device.service;

import java.util.Optional;

import org.eclipse.paho.client.mqttv3.IMqttClient;
import org.eclipse.paho.client.mqttv3.MqttConnectOptions;
import org.eclipse.paho.client.mqttv3.MqttException;
import org.eclipse.paho.client.mqttv3.MqttSecurityException;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.stereotype.Service;

import papyrus.web.medsecurance.iomt.device.action.IAction;
import papyrus.web.medsecurance.iomt.device.dto.AbstractActuator;
import papyrus.web.medsecurance.iomt.device.dto.AbstractSensor;
import papyrus.web.medsecurance.iomt.device.dto.Device;
{{#actuators}}
import papyrus.web.medsecurance.iomt.device.dto.{{baseClassName}};
{{/actuators}}
{{#sensors}}
import papyrus.web.medsecurance.iomt.device.dto.{{baseClassName}};
{{/sensors}}

@Service
public class MQTTMessagingService {
	private Logger logger = LoggerFactory.getLogger(MQTTMessagingService.class);

	@Autowired
	private IMqttClient mqttClient;
	
	@Autowired
	MqttConnectOptions mqttConnectOptions;
	
	@Autowired
	private Device device;
	
	@Value("${accessPermission:#{null}}")
	private Optional<String> accessPermission;
	
	public void startDevice() throws MqttSecurityException, MqttException {
		if (accessPermission.isPresent()) {
			logger.warn(accessPermission.get());
		}
		mqttClient.connect(mqttConnectOptions);
		
{{#actuators}}
	// Create a switch actuator
	{{baseClassName}} {{stereotypeName}} = new {{baseClassName}}();
	{{stereotypeName}}.setActuatorId("{{stereotypeUid}}");
	String topic{{baseClassName}} = device.getDeviceId() + "/" + {{stereotypeName}}.getActuatorId();	
	mqttClient.subscribeWithResponse(topic{{baseClassName}}, (tpic, msg) -> {
			logger.info(msg.getId() + " -> " + new String(msg.getPayload()));
			
			for (IAction action : {{stereotypeName}}.getActions()) {
				if (action.executeAction(topic{{baseClassName}}, msg.getPayload()) == false) {
					break;
				}
			}
		});
		device.getActuators().add({{stereotypeName}});
{{/actuators}}		
		
{{#sensors}}
	// Create an {{baseClassName}} sensor
	{{baseClassName}} {{stereotypeName}} = new {{baseClassName}}(device.getDeviceId(), "{{stereotypeName}}", mqttClient);
	for (IAction action : {{stereotypeName}}.getActions()) {
		if (action.executeAction(device.getDeviceId() + "/" + {{stereotypeName}}.getSensorId(), null) == false) {
			break;
		}
	}
	device.getSensors().add({{stereotypeName}});
	{{stereotypeName}}.start();
{{/sensors}}
		
	}
	
	public void stopDevice() throws MqttException {
		for (AbstractActuator actuator : device.getActuators()) {
			String topic = device.getDeviceId() + "/" + actuator.getActuatorId() + "/#";
			mqttClient.unsubscribe(topic);
			actuator.getActions().clear();
		}
		for (AbstractSensor sensor : device.getSensors()) {
			sensor.stop();
		}
		mqttClient.disconnect();
	}

}
