package papyrus.web.medsecurance.iomt.gateway.controller;

import java.util.List;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.HttpStatus;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import papyrus.web.medsecurance.iomt.gateway.dto.LocationDTO;
import papyrus.web.medsecurance.iomt.gateway.service.LocationService;

@RestController
@RequestMapping("/gateway/locations") 
public class LocationController {
	@Autowired
    private LocationService locationService;
	
	@GetMapping(produces = "application/json;charset=utf-8")
    public ResponseEntity<List<LocationDTO>> findAll() {
		try {
			return new ResponseEntity<>(locationService.findAll(), HttpStatus.OK);
		} catch (Exception e) {
			return new ResponseEntity<>(HttpStatus.NO_CONTENT);
		}
    }

}
