package papyrus.web.medsecurance.iomt.gateway.controller;

import java.util.List;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.HttpStatus;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import papyrus.web.medsecurance.iomt.gateway.dto.PatientDTO;
import papyrus.web.medsecurance.iomt.gateway.service.PatientService;

@RestController
@RequestMapping("/gateway/patients")
public class PatientController {

	@Autowired
    private PatientService patientService;
	
	@GetMapping(produces = "application/json;charset=utf-8")
    public ResponseEntity<List<PatientDTO>> findAll() {
		try {
			return new ResponseEntity<>(patientService.findAll(), HttpStatus.OK);
		} catch (Exception e) {
			return new ResponseEntity<>(HttpStatus.NO_CONTENT);
		}
    }
}
